.meeting-form {
    background-color: cornsilk;
}

.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
