@(active: String)

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li id="siteSettingsTab"><a href="/admin">  Site settings <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li id="addMeetingTab"><a href="/admin/addMeeting">  Add meeting <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li id="addDifferentTab"><a href="/admin/addDifferent">  Add meeting (different times) <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="homepageTab"><a href="/admin/edit/homepage">  Edit Homepage <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li id="literatureTab"><a href="/admin/edit/literature">  Edit Literature <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li id="contactTab"><a href="/admin/edit/contact">  Edit Contact Info <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li id="aboutTab"><a href="/admin/edit/about">  Edit About <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
    </ul>
</div>