@(userId: String)
<head>
    <title>Add Meeting</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="/assets/javascripts/combodate.js"></script>
    <script src="/assets/javascripts/moment.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script>
$(function() {
$( "#city" ).autocomplete({
  source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
});
})
</script>

</head>

<html>
<div class="login-banner">Logged in as @userId</div>
<div class="logout"><a href="/logout">Sign Out</a> </div>
<h1>Add Meeting</h1>
<form role="form" action="/api/saveMeeting" method="POST">
    <div class="form-group">
        <label>Meeting Name</label>
        <input class="form-control" type="text" name="meeting-name" >
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city">
    </div>
    <div class="form-group">
        <label>Address</label>
        <textarea class="form-control" name="address" ></textarea>
    </div>
    <div class="form-group">
        <label for="meeting-time">Time</label>
        <input type="text" id="meeting-time" data-format="h:mm a" data-template="hh : mm a" name="meeting-time" value="8:30 pm">
        <script>
            $(function(){
                $('#meeting-time').combodate();
            });
        </script>
    </div>
    <div class="checkbox">
        <label for="SUNDAY">
            <input type="checkbox" id="SUNDAY" name="SUNDAY" value="true" >
            Sunday
        </label>
    </div>
    <div class="checkbox">
        <label for="MONDAY">
            <input type="checkbox" id="MONDAY" name="MONDAY" value="true" >
            Monday
        </label>
    </div>
    <div class="checkbox">
        <label for="TUESDAY">
            <input type="checkbox" id="TUESDAY" name="TUESDAY" value="true" >
            Tuesday
        </label>
    </div>
    <div class="checkbox">
        <label for="WEDNESDAY">
            <input type="checkbox" id="WEDNESDAY" name="WEDNESDAY" value="true" >
            Wednesday
        </label>

    </div>
    <div class="checkbox">
        <label for="THURSDAY">
            <input type="checkbox" id="THURSDAY" name="THURSDAY" value="true" >
            Thursday
        </label>
    </div>
    <div class="checkbox">
        <label for="FRIDAY">
            <input type="checkbox" id="FRIDAY" name="FRIDAY" value="true" >
            Friday
        </label>
    </div>
    <div class="checkbox">
        <label for="SATURDAY">
            <input type="checkbox" id="SATURDAY" name="SATURDAY" value="true" >
            Saturday
        </label>
    </div>
    <button type="submit" class="btn btn-default">Add Meeting</button>
</form>


</html>