@(settings: model.SiteSettings, user: String)
<html>
<head>
    <title>AA Admin Panel</title>
    @adminHeaderIncludes()
</head>
<body>
@adminNavbar(user)
<div class="container-fluid">
    <div class="row">
       @adminSidebar("siteSettings")
        <div class="col-md-10 main">
            <h1>Site Settings</h1>
            <form>
                <div class="form-group">
                    <label for="siteName">Site name</label>
                    <textarea name="siteName" id="siteName">@settings.siteName</textarea>
                </div>
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<script>$( "#siteSettingsTab" ).addClass( "active" );</script>
</body>
</html>