@(groupName: String,
  date: String,
  citySelected: Option[String],
  cityToMeetings: Map[String, Seq[model.Meeting]],
  meetingToday: Boolean)

<html>
<head>
    <title>
        @groupName - Home
    </title>
    @headerIncludes()
</head>
<body>
    @if(meetingToday) {
        @navbar("meetingsToday")
    } else {
        @navbar("findAMeeting")
    }

    <div class="container">
        <div class="row">
            <div class="col-md-2 cityList">
                @for(city <- cityToMeetings.keys.toList.sorted) {
                    <strong><a href="#@city">@city</a></strong>
                    <br>
                }
            </div>
            <div class="col-md-10 meetingTable">
                <h1>@date @if(citySelected.isDefined) { in @citySelected.get }</h1>
                @if(cityToMeetings.size == 0) {
                    <h2>No meetings found.</h2>
                }
                @for(city <- cityToMeetings.keys.toList.sorted) {
                    <a id="@city" />
                    <h2>@city</h2>
                    <table class="table table-striped table-hover">
                    <tr>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Codes</th>
                        <th>Map</th>
                    </tr>
                    @for(meeting <- cityToMeetings.getOrElse(city, Seq()).sortBy({meeting : model.Meeting => (meeting.dayOfWeek, meeting.timeOfDay)})) {
                        <tr>
                            <td>@meeting.getDayOfWeekPretty</td>
                            <td  style="white-space: nowrap">@meeting.getTimePretty</td>
                            <td>@meeting.group.name</td>
                            <td>@meeting.group.address</td>
                            <td>@if(meeting.group.closed) { <img src="assets/images/closed.png" height="16" width="16" alt="Closed"> }
                                @if(meeting.group.lgbt) { <img src="assets/images/rainbow.png" height="16" width="16" alt="LGBT"> }
                                @if(meeting.group.young) { <img src="assets/images/y-icon.png" height="16" width="16" alt="Young Persons"> }
                            </td>
                            <td><a href="@meeting.getGoogleMapLink" target="_blank"><img src="/assets/images/map.png"></a></td>
                        </tr>
                    }
                    </table>

                }
            </div>
        </div>
    </div>
</body>
</html>