@(groupName: String,
  date: String,
  cityToMeetings: Map[String, Seq[model.Meeting]])

<html>
<head>
    <title>
        @groupName - Home
    </title>
    @headerIncludes()
</head>
<body>
    @navbar("meetingsToday")

    <div class="container">
        <div class="row">
            <div class="col-md-2 cityList">
                @for(city <- cityToMeetings.keys.toList.sorted) {
                    <strong><a href="#@city">@city</a></strong>
                    <br>
                }
            </div>
            <div class="col-md-8 meetingTable">
                <h1>@date</h1>
                @for(city <- cityToMeetings.keys.toList.sorted) {
                    <a id="@city" />
                    <h2>@city</h2>
                    <table class="table table-striped">
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Map</th>
                    </tr>
                    @for(meeting <- cityToMeetings.getOrElse(city, Seq()).sortBy(_.timeOfDay)) {
                        <tr>
                            <td>@meeting.timeOfDay</td>
                            <td>@meeting.group.name</td>
                            <td>@meeting.group.address</td>
                            <td><a href="@meeting.getGoogleMapLink" target="_blank"><img src="/assets/images/map.png"></a></td>
                        </tr>
                    }
                    </table>

                }
            </div>
        </div>
    </div>
</body>
</html>